@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --selected-text-color: #2196F3;
    --text-color:#212121;
    --button-color:#F5F4FA;
    --footer-color:#2F303A;
    --smalltext-color:#757575;
    --bachground-color:#FFFFFF;
    --border-color:#EEEEEE;
}

body{
    font-family: "Roboto";
}
header > a {
    color: var(--selected-text-color);
}

ul > a {
    color: var(--text-color);
}

.email {
    color: var(--selected-text-color);
}
.phone{
    color: var(--smalltext-color);
}
button{
    color: var(--button-color);
}
h3{
    color: var(--text-color);
}
p{
    color: var(--smalltext-color);
}
footer{
    background-color: var(--footer-color);
}
footer>p{
    color: var(--bachground-color);
}
footer>a{
    color: var(--bachground-color);
}